extends ../layout

block content
    .large-7.column.imagen
        img(src="img/TakiTec.svg", id="", alt="background", width="80%")
    .large-5.column.slogan
        span.bgBlue Conocimiento al alcance de todos
        a(href="http://takimundo.ch/", target="_blank")
            img(src="img/logo_en.jpg", alt="logo TakiMundo", width="45%")
        a(href="http://tecuruapan.edu.mx/", target="_blank")
            img(src="img/logo_tec6.png", alt="logo ITSU", width="45%")